.container > footer {
  position: relative;

  border-top: 1px solid rgb(var(--color-gray-3));

  .up {
    padding: 2rem var(--page-horizontal-padding);

    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
      display: flex;
      gap: 4rem;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  .down {
    padding: 1rem var(--page-horizontal-padding);

    display: flex;
    justify-content: center;

    background: rgb(var(--color-gray-3));
  }

  .section a {
    width: fit-content;
    position: relative;
    line-height: 1.2rem;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background: rgb(var(--color-white));
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(1px);
      opacity: 0;
    }

    &:hover {
      opacity: 0.8;

      &::after {
        opacity: 0.8;
      }
    }
  }
}
