
@import "../abstracts/typescale";

header.page-header {
  width: 100%;
  padding: 2rem var(--page-horizontal-padding);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid rgb(var(--color-gray-3));

  &.center {
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: var(--typescale-h3);
    font-weight: 500;
  }

  .highlight { color: rgb(var(--color-primary-light)) }

  .right {
    display: flex;

    & > * {
      margin-left: 1rem;
    }
  }
}