@import "../abstracts/typescale";

header.page-header {
  width: 100%;
  padding: 2rem var(--page-horizontal-padding);

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgb(var(--color-gray-2));

  border-bottom: 1px solid rgb(var(--color-gray-3));

  &.center {
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: var(--typescale-h3);
    font-weight: 500;
  }

  .highlight {
    color: rgb(var(--color-primary-light));
  }

  .right {
    display: flex;

    & > * {
      margin-left: 1rem;
    }
  }

  // sticky header
  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background: rgb(var(--color-gray-2));
    border-bottom: 1px solid rgb(var(--color-gray-3));

    transition: background .3s ease;
  }
}
