.floating-plant-card {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;

  .card-image {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;

    background: rgba(var(--color-secondary), 0.2);
    transition: transform 0.3s cubic-bezier(0.12, 0.5, 0.56, 0.97);
  }

  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    transition: transform 0.3s cubic-bezier(0.12, 0.5, 0.56, 0.97);
  }

  .card-bubble {
    position: absolute;
    padding: 1em 2em;
    background: rgb(var(--color-secondary));
    color: rgb(var(--color-background));
    border-radius: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(40%);
    transition:
      transform 0.3s cubic-bezier(0.12, 0.5, 0.56, 0.97),
      background 0.3s cubic-bezier(0.12, 0.5, 0.56, 0.97);
    white-space: nowrap;
  }

  &:hover {
    .card-image {
      transform: scale(1.08);
    }

    img {
      transform: scale(1.05);
    }

    .card-bubble {
      background: rgb(var(--color-primary));
      transform: translateX(-50%) translateY(60%);
    }
  }
}
