@import "../../../styles/abstracts/typescale";

.plant-quiz {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgb(var(--color-background));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  transform: translateY(100%);
  opacity: 0;

  transition: opacity 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);

  .quiz-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 4em;
    align-content: center;
    width: 50vw;
    height: 80vh;
  }

  .quiz-header {
    margin-bottom: 2em;
    h2 {
      @extend %h4;
    }

    p {
      color: rgba(var(--color-text), 0.8);
    }
  }

  &.show {
    animation: slide-up 0.3s ease forwards;
  }

  &.no-show {
    animation: slide-down 0.3s ease forwards;
  }

  .quiz-action {
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: rgba(var(--color-secondary), 0.2);
    cursor: pointer;

    position: absolute;
    left: 10vw;
    top: 50%;
    transform: translateY(-50%);

    svg {
      transition: stroke 0.3s;
    }

    &:hover svg {
      stroke: rgb(var(--color-primary));
    }
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  1% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  99% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
