
@import '../../styles/typescale';

.choice-block {
  padding: .8em 1.5em;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 1px solid rgba(var(--color-secondary), .2);
  background: rgba(var(--color-secondary), .2);
  cursor: pointer;
  user-select: none;

  transition: transform .3s ease, border .2s;

  display: flex;
  justify-content: space-between;
  align-items: center;


  p:nth-child(1) {
    @extend %h5;
    margin-bottom: 0;
  }

  &:hover {
    transform: translateX(.5em);
    border: 1px solid rgb(var(--color-primary));
  }

  &.show-result {
    transform: translateX(0);
    cursor: auto;
    border: 1px solid rgba(var(--color-secondary), .2);

    &:hover {
      transform: translateX(0);
    }

    &.right-answer {
      transform: scale(1.05);
    }

    .choice-result {
      opacity: 1;
    }
  }

  &.right-answer {
    .choice-result {
      background: rgb(var(--color-success));
    }
  }

  &.wrong-clicked {
    animation: shake .3s ease;
    border: 1px solid rgb(var(--color-danger));
  }

  &:not(.show-result) {

  }


  .choice-result {
    width: 2em;
    height: 2em;
    border-radius: 5px;
    background: rgb(var(--color-danger));
    opacity: 0;
    transition: opacity .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      stroke: rgb(var(--color-background));
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}