
:root {
  --page-horizontal-padding: 2.5rem;

  --radius: 10px;
  --radius-squircle: 1;

  --breakpoint-large-desktop: 1920px;
  --breakpoint-small-decktop: 1440px;
  --breakpoint-tablet-landscape: 1440px;
  --breakpoint-tablet-portrait: 834px;
  --breakpoint-phone: 360px;
}