

.button {
  border-radius: 10px;
  padding: 1em 2em;
  position: relative;
  font-size: inherit;
  cursor: pointer;
  transition: background .2s, box-shadow .3s ease;;

  &:focus {
    box-shadow: 0 0 0 2px rgb(var(--color-background)), 0 0 0 4px rgba(var(--color-secondary), .2);
  }

  &.outlined {
    color: rgb(var(--color-text));
    background: transparent;
    border: 1px solid rgb(var(--color));

    &:hover {
      background: rgba(var(--color), .2);
    }
  }

  &.solid {
    background: rgb(var(--color));
    //border: 1px solid rgb(var(--color));

    &:hover {
      background: rgba(var(--color), .8);
    }
  }

  &.soft {
    background: rgba(var(--color), .6);
    //border: 1px solid rgb(var(--color));

    &:hover {
      background: rgba(var(--color), .8);
    }
  }

  &.fill {
    width: 100%;
    flex: auto;
  }

  &:disabled {
    opacity: .8;
    cursor: not-allowed;
  }

  &.sm { padding: .25em .75em }
  &.md { padding: .375em 1em }
  &.lg { padding: .5em 1.5em }
  &.big { padding: 1em 2em }
}