.option {
  width: 100%;
  padding: 0.5rem 1rem;

  border-bottom: 1px solid rgba(var(--color-gray-5), 0.2);
  background: transparent;

  font-size: inherit;
  color: rgb(var(--color-white));
  text-align: left;

  cursor: pointer;
  display: block;

  transition: background 100ms;

  svg {
    height: 1rem;
  }

  &.active {
    background: rgba(var(--color-gray-5), 0.2);
  }

  &:hover {
    background: rgba(var(--color-gray-5), 0.2);
  }
}

.options-container {
  min-width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;

  overflow: hidden;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  border: 1px solid rgba(var(--color-gray-5), 0.2);
  background: rgb(var(--color-gray-3));
  transition:
    transform 0.3s,
    opacity 0.3s;

  &.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(calc(100% + 1rem));
    z-index: 100;

    .option {
      z-index: 100;
    }
  }
}
