@import "../abstracts/typescale";

.deck-game-page {
  .quiz-wrapper {
    min-width: 60vw;
    height: 80vh;
  }

  .quiz-header {
    padding: 1em 0;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .progress-bar {
    margin-bottom: 2em;
  }

  .game-grid {
    height: auto;
    padding: 0 var(--page-horizontal-padding);

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    //place-content: center;
    //place-items: center;

    .slider {
      width: 60%;
      height: 100%;
      justify-self: center;
    }
  }
}
