@import "../abstracts/typescale";

.card-grid {
  padding: 4rem var(--page-horizontal-padding);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.filter-panel-container {
  position: relative;
  transition: max-height 0.3s ease;

  &:has(> .filter-panel:not(.filter-panel.show)) {
    overflow: hidden;
  }
}

.filter-panel {
  width: 100%;
  padding: 1rem var(--page-horizontal-padding);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  background: rgb(var(--color-gray-2));
  border-bottom: 1px solid rgb(var(--color-gray-3));

  transform-origin: top;
  opacity: 0;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.show {
    opacity: 1;
  }
}

.deck-loader {
  width: 100%;
  padding: 2rem 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(var(--color-primary-light));
  color: rgb(var(--color-gray-3));

  &.no-results {
    background: rgb(var(--color-gray-2));
    color: rgb(var(--color-white));
  }
}
