
@import '../typescale';

.explorer {
  .topbar {
    width: 100%;
    padding: 2rem 20vw;
    z-index: 10;
    position: relative;

    //display: flex;
    //align-items: center;
    //justify-content: space-between;

    background: rgb(var(--color-background));
    //position: fixed;
  }

  .topbar-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .input-wrapper {
      margin-bottom: 0;
    }

    div:nth-child(1) {
      display: inline-block;

      h1 {
        @extend %h4;
        font-family: DancingScript, serif;
        line-height: 1;
      }
    }

    div:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }

  .topbar-filters {
    padding: 1rem 2rem;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 20vw;
    transform: translate(10%, 100%);

    border-radius: 10px;
    border: 1px solid rgba(var(--color-secondary), .2);
    background: rgb(var(--color-background));

    transition: opacity .3s, transform .3s;

    pointer-events: none;

    &.show {
      pointer-events: auto;
      opacity: 1;
      transform: translate(0, 100%);
    }

    h3 {
      font-weight: 500;
    }

    & > button:last-child {
      margin-top: 1rem;
    }

    & > div:not(:first-child) {
      margin-top: 1rem;
    }
  }

  .grid {
    width: 100%;
    padding: 1rem 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
  }
}