
@import "../typescale";

.quiz-page {
  .quiz-wrapper {
    min-width: 60vw;
    height: 80vh;
  }

  .quiz-header {
    padding: 1em 0;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .quiz-timer {
    display: flex;
    align-items: center;

    span {
      @extend %h5;
    }

    svg {
      cursor: pointer;
    }

    & > * {
      margin-right: 1em;
    }

    a {
      display: flex;
      align-items: center;
    }
  }

  .quiz-score {
    @extend %h3;
    font-weight: 700;
  }

  .progress-bar {
    margin-bottom: 2em;
  }

  .quiz-content {
    display: grid;
    grid-template-columns: 50% auto;
    grid-column-gap: 2em;
  }

}
