
// Reset
@import url('./reset.css');

@import './typescale';

// Fonts
@import url('./fonts/dancing-script.css');
@import url('./fonts/switzer.css');

// Variables
:root {
  --color-text: 211, 210, 210;
  --color-background: 31, 31, 31;
  --color-primary: 157, 193, 110;
  --color-secondary: 224, 224, 224;
  --color-accent: 0, 159, 4;
  --color-success: 52, 199, 89;
  --color-danger: 255, 147, 48;

  --breakpoint-large-desktop: 1920px;
  --breakpoint-small-decktop: 1440px;
  --breakpoint-tablet-landscape: 1440px;
  --breakpoint-tablet-portrait: 834px;
  --breakpoint-phone: 360px;
}

* { box-sizing: border-box }

*::selection {
  background: rgba(var(--color-primary), .2);
}

html {font-size: 100%;} /*16px*/

body {
  margin: 0;
  background-color: rgb(var(--color-background));
  font-family: 'Switzer', Roboto, sans-serif;
  line-height: 1.75;
  color: rgb(var(--color-text));
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  outline: none;
}

.link {
  color: rgb(var(--color-primary));
  transition: color .2s;

  &:hover {
    color: rgba(var(--color-primary), .8);
  }
}

.main-title {
  @extend %h2;
  font-family: "DancingScript", serif !important;
}

@import './forms';
@import './container';

// Page imports
@import "pages/main-menu";
@import "pages/quiz-choice";
@import "pages/quiz-page";
@import "pages/quiz-results";
@import "pages/explorer-page";
