
// Imports
@import "base/reset.css";
@import "abstracts/variables";
@import "abstracts/colors";
@import "utilities/mixins";
@import "abstracts/typescale";
@import './fonts/dancing-script.css';
@import './fonts/satoshi.css';
@import './fonts/switzer.css';


*, *:before, *:after { box-sizing: border-box }

*::selection {
  background: rgba(var(--color-primary-light), .2);
}

*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: rgba(var(--color-gray-2), 0) !important;
}
*::-webkit-scrollbar-thumb {
  background: rgb(var(--color-gray-3)) !important;
  border-radius: 3px !important;
}


html {font-size: 100%;} /*16px*/

body {
  margin: 0;
  background-color: rgb(var(--color-gray-1));
  font-family: 'Switzer', Roboto, sans-serif;
  line-height: 1.75;
  color: rgb(var(--color-white));
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  outline: none;
}

.link {
  color: rgb(var(--color-primary-light));
  transition: color .2s;

  &:hover {
    color: rgba(var(--color-primary-dark), .8);
  }
}

// Layout imports
@import "layout/forms";
@import "layout/container";
@import "layout/header";

// Page imports
@import "pages/main-menu";
@import "pages/deck-choice";
@import "pages/deck-detail";
@import "pages/deck-game";
@import "pages/deck-results";
@import "pages/explorer";
