.box-list-group {
  display: flex;
  flex-direction: column;

  background: rgb(var(--color-gray-2));

  &.small {
    --padding: 0.375rem 1rem;
  }
  &.medium {
    --padding: 0.5em 1.5rem;
  }
  &.large {
    --padding: 1rem 2rem;
  }

  &.rounded {
    border-radius: var(--radius);
  }

  .box-list-item {
    padding: var(--padding);
    border-bottom: 1px solid rgb(var(--color-gray-3));

    &:last-child {
      border-bottom: 0;
    }
  }
}
