
@import "../../../styles/typescale";


.input-container {
  .helper-text {
    margin-top: .2rem;
    margin-bottom: 1.5rem;
  }
}

.input-wrapper {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  //margin-bottom: 1.5em;

  input {
    background: transparent;
    border-radius: 10px;
    outline: none;
    padding: 1em 2em;
    font-size: inherit;
    color: rgb(var(--color-secondary));
    border: 1px solid rgba(var(--color-secondary), .2);
    transition: box-shadow .3s ease, border .3s ease;

    &.sm {
      ~ label { --padding-left: .75rem; }
      padding: .300em .75em;
    }
    &.md {
      ~ label { --padding-left: 1rem; }
      padding: .375em 1em
    }
    &.lg {
      ~ label { --padding-left: 1em; }
      padding: .5em 1em
    }
    &.big {
      ~ label { --padding-left: 2em; }
      padding: 1em 2em
    }

    &:hover {
      border: 1px solid rgba(var(--color-secondary), .4);
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba(var(--color-secondary), .2);

      & + label {
        top: 0;
        transform: translateY(-50%);
      }

      & ~ .info {
        //animation: info-slide-left .3s forwards;
      }
    }

    &:not(:placeholder-shown):invalid {
      border: 1px solid rgba(var(--color-danger), .4);

      & ~ .info {
        opacity: 1;
        fill: rgb(var(--color-danger));
      }
    }

    &:not(:placeholder-shown):valid {
      border: 1px solid rgba(var(--color-secondary), .2);

      & ~ .info {
        opacity: 1;
        fill: rgb(var(--color-success));
      }
    }

    &:not(:placeholder-shown) + label {
      top: 0;
      transform: translateY(-50%);
    }
  }

  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: var(--padding-left);
    transition: transform .2s ease, top .2s ease;
    cursor: text;

    &::after {
      content: "";
      background: rgb(var(--color-background));
      width: 100%;
      height: 20%;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: -1;
      transform: translateY(-50%);
    }
  }

  .info {
    position: absolute;
    top: 50%;
    right: 2rem;
    //padding-right: 2rem;
    transform: translateY(-50%) translateX(-5%);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;
    background: rgb(var(--color-background));
  }

  .info-icon {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .8;
    stroke: rgb(var(--color-secondary));

    &:hover {
      opacity: 1;
    }
  }
}


.input-button {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;

  .autocomplete {
    margin: 0 !important;
  }

  input {
    border-radius: 10px 0 0 10px;
    margin: 0;
  }

  button {
    height: auto;
    border-radius: 0 10px 10px 0;
  }
}


@keyframes info-slide-left {
  0% {
    opacity: 0;
    transform: translateX(5%) translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}