.mainmenu {
  .owndeck-grid {
    padding: 2rem var(--page-horizontal-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
  }

  .user-avatar {
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(var(--color-gray-3));
    border-radius: 100px;

    font-size: var(--typescale-h5);
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 0 0 0 2px rgb(var(--color-gray-4));
    }
  }

  .level-progression {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--radius);
    background: linear-gradient(
      0deg,
      transparent 0%,
      rgba(var(--color-yellow-light), 0.5) 100%
    );
    border-top-left-radius: var(--radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--radius);
    overflow: hidden;

    &::after {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      position: absolute;
      background: rgb(var(--color-yellow-light));
    }
  }
}
