// Flexbox
.flex {
  display: flex;
}
.f-col {
  flex-direction: column;
}
.sb {
  display: flex;
  justify-content: space-between;
}
.center {
  align-items: center;
}

// Grid
.grid {
  display: grid;
}

@mixin grid-columns {
  @for $i from 2 through 6 {
    .gc-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
}

@mixin grid-gap {
  @for $i from 1 through 6 {
    .gg-#{$i} {
      grid-gap: #{$i}rem;
    }
  }
}

@include grid-columns();
@include grid-gap();
